@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
@import "tailwindcss";

@theme {
  --color-bg: #fafae3;
  --color-white: #ffffff;
  --color-yellow: #ffd700;
  --color-blue: #0044cc;
  --color-black: #0e0e0e;
}
@layer base {
  body {
    background-color: var(--color-bg);
  }
}

:root {
  --font-sans: "Syne", sans-serif;
  --font-serif: "Syne", sans-serif;
  --font-mono: "Syne", sans-serif;
  --font-display: "Syne", sans-serif;
}

body,
.font-sans,
.font-serif,
.font-mono,
.font-display {
  font-family: "Syne", sans-serif;
}
