@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import "tailwindcss";

@theme {
  --color-bg: #fafae3;
  --color-white: #ffffff;
  --color-yellow: #ffd700;
  --color-blue: #0044cc;
  --color-black: #0e0e0e;
}
@layer base {
  html {
    overflow-x: hidden;
  }
  body {
    background-color: var(--color-bg);
    overflow-x: hidden;
  }
}

@layer components {
  .font-anton {
    font-family: "Anton", sans-serif;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

:root {
  --font-sans: "Syne", sans-serif;
  --font-serif: "Syne", sans-serif;
  --font-mono: "Syne", sans-serif;
  --font-display: "Syne", sans-serif;
}

body,
.font-sans,
.font-serif,
.font-mono,
.font-display {
  font-family: "Syne", sans-serif;
}

.navHeight {
  max-width: 100px;
}
