@import "tailwindcss";

@theme {
  --color-bg: #fafae3;
  --color-white: #ffffff;
  --color-yellow: #ffd700;
  --color-blue: #0044cc;
}
@layer base {
  body {
    background-color: var(--color-bg);
  }
}
